.clear-btn {
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 3vw;
  background-color: #c5c3cd;
  color: black;
  flex: 1;
  outline: 1px solid #888888;

  &:hover {
    cursor: pointer;
    background-color: rgba($color: #ffaaaa, $alpha: 1);
  }
}
